#Ignorar pastas de ambiente virtual e cache do Python
.env
**/venv/
**/__pycache__/
**/arquivos_gerados/
**/testar_geracao.py

#Ignorar arquivos IDE
.vscode

#Ignorar arquivos do banco SQLite local
*.db
*.sqlite3

# Ignorar arquivos de ambiente do VS/Windows
.DS_Store
**/.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

# Ignorar arquivos gerados do React/Vite
node_modules/
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.vite/

# Ignorar logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*